body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
    height: 100%;
    background: linear-gradient(180deg, rgb(222,175,89), rgb(240, 240, 240));
    background-position: 0 4vh;
}

html {
    background-color: rgb(222,175,89);
}

* {
    overflow: scroll;
    max-width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(222,175,89);
}

navbar > div {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

navbar > div:hover {
    height: 100%;
    width: 100%;
    background-color: rgb(255,226,60);
}

navbar > div > p, navbar > div > a {
    text-transform: capitalize;
    font-weight: bolder;
}

footer {
    display: flex;
    height: 5vh;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(222,175,89);
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

footer i {
    font-size: 1.5em;
    margin: 0 5px;
    cursor: pointer;
}

input, button, textarea {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 6px 0px rgb(222,175,89);
    transition: padding 0.3s ease-in-out;
    min-width: 60%;
}
#wholetext > conta {
    min-width: 500px;
}

.contact-input {
    width: 100%;
}

button:hover {
    padding: 8px;
}

#content {
    min-height: calc(100vh - 10vh - 40px - 5vh - 5vh);
    height: 100%;
}

#bars {
    display: none
}

a {
    text-decoration: none;
    color: black;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8vh;
    margin-left: 11%;
    margin-right: 11%;
}

#look_around {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
}


@media screen and (max-width: 750px) {

    #look_around {
        flex-direction: column;
        align-content: center;
    }

    .option {
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    input, button, textarea {
        min-width: 90%;
    }
    #bars {
        display: flex;
        height: 50px;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    navbar div:not([id="bars"]){
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    navbar.responsive div:not([id="bars"]){
        max-height: 50px;

    }

    footer {
        height: 110px;
    }

    #content {
        min-height: calc(100vh - 5vh - 120px);
    }

    navbar {
        flex-direction: column;
        padding: 0;
    }

    navbar div:hover {
        background-color: rgb(222,175,89);
    }
}

#title {
    font-weight: bolder;
    font-size: 24px;
}

#error {
    color: indianred;
    font-size: 11px;
    margin-top: 14px;
}

#contact-submit {
    min-width: 100%;
}
#submit {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#contact-tokens {
    align-self: flex-end;
    width: 55%;
}
#submit:hover {
    background-color: rgb(255,226,60);
    padding: 8px;
}